<!-- app/views/search/index.html.erb -->
<h1>Search Results</h1>

<% if params[:query].present? %>
  <h2>Results for "<%= params[:query] %>"</h2>
  <h3> Found <%= @total_items_count %> items </h3>

<% else %>
  <h2>Public Content</h2>
<% end %>

<% if @search_items.any? %>
  <div data-controller="infinite-scroll" 
     data-infinite-scroll-url-value="<%= search_path(query: params[:query]) %>"
     data-infinite-scroll-page-value="<%= params[:page] || 1 %>">
  
  <div id="home-items" class="food-display" data-infinite-scroll-target="entries">
     <% @search_items.each do |item| %>
      <%= link_to home_show_path(type: item.class.name.downcase, id: item.id), class: "centered-text hover-move" do %>
        <%= render item, icon: true %>
      <% end %>
    <% end %>
  </div>
  
  <%= render "shared/pagination_loader", collection: @search_items %>
<% else %>
  <p><%= params[:query].present? ? "No results found" : "No public content available" %></p>
<% end %>