<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

    <p>
    <strong> Ingredients: </strong>
    <% if recipe.recipe_items.any? %>
      <ul>
        <% recipe.recipe_items.each do |item| %>
          <li>
            <strong><%= item.name %>:</strong> <%= item.amount %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No ingredients listed for this recipe.</p>
    <% end %>
  </p>

  <p>
    <strong>Procedure:</strong>
    <%= recipe.procedure %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= recipe.difficulty %>
  </p>

  <p>
    <strong>Prep time:</strong>
    <%= recipe.prep_time %>
  </p>

</div>
