<p style="color: green"><%= notice %></p>

<% content_for :title, "Recipes" %>
<p> You have <%= @total_recipes_count %> recipe(s). </p>

<div class="floating-right-btn-container">
  <%= link_to new_recipe_path, class: "floating-green-button" do %>
    <%= image_tag "add_recipe.svg", alt: "Add recipe", class: "floating-button-icon" %>
  <% end %>

</div>

<h1 class="centered-text title-text">Recipes</h1>
<div data-controller="infinite-scroll" 
     data-infinite-scroll-url-value="<%= request.path %>" 
     data-infinite-scroll-page-value="<%= params[:page] || 1 %>">
  
  <div id="recipes" class="food-display" data-infinite-scroll-target="entries">
    <% @recipes.each do |recipe| %>
      <%= link_to recipe, class: "centered-text hover-move" do %>
        <%= render recipe, info: false %>
      <% end %>
    <% end %>
  </div>
  
  <%= render "shared/pagination_loader", collection: @recipes %>
</div>