<!-- app/views/home/show.html.erb -->
<div>
  <% if params[:type] == "recipe" %>
    <div class="food-container">
        <%= render @public_item, info: true %>

    </div>
            
                    
  <% elsif params[:type] == "meal" %>
    <h1> <%= @public_item.name %></h1>
    <p>
      <%= @public_item.description %>
    </p>
    <div class="food-display">
        <% @public_item.recipes.each do |recipe| %>
            <%= render recipe, info: true %>
        <% end %>
    </div>
    <small>Created by: <%= @public_item.user.name if @public_item.respond_to?(:user) %></small>

        
  <% end %>
</div>

<%= link_to "Back to Tasty Shares", root_path %>

<% if params[:type] == "recipe" %>
  <% if @public_item.user == current_user %>
    <%= link_to "You made this recipe, view it in recipes", recipe_path(@public_item) %>
  <% else %>
    <%= link_to "Add to my recipes", "/recipes/#{@public_item.id}/add", data: { turbo_method: :post } %>
  <% end %>
<% elsif params[:type] == "meal" %>
  <% if @public_item.user == current_user %>
    <%= link_to "You made this meal, view it in meals", meal_path(@public_item) %>
  <% else %>
    <%= link_to "Add to my meals", "/meals/#{@public_item.id}/add", data: { turbo_method: :post } %>
  <% end %>
<% end %>