<%= form_with(model: pantry_item) do |form| %>
  <% if pantry_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pantry_item.errors.count, "error") %> prohibited this pantry_item from being saved:</h2>

      <ul>
        <% pantry_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.hidden_field :barcode, id: "barcode-result" %>
  </div>

  <div>
    <%= form.hidden_field :user_id %>
  </div>

  <%# app/views/pantry_items/_form.html.erb %>
  <button id="start-scanner" type="button" class="btn btn-secondary">
    Scan Barcode
  </button>

  <video id="scanner-video" style="display:block; width:300px;"></video>

  <script>

  document.addEventListener('turbo:load', async () => {
    const link = document.getElementById("custom-link");

    if (link) {
      link.addEventListener("click", (e) => {
        console.log("Link clicked! Doing something extra...");
        // You can do your extra action here

        codeReader.reset();
        videoElem.style.display = 'none';
        // If you need to prevent the link from navigating:
        // e.preventDefault();
      });
  }
    const codeReader = new ZXing.BrowserMultiFormatReader();
    const videoElem = document.getElementById('scanner-video');
    
    try {
      // Start camera
      videoElem.style.display = 'block';
      const result = await codeReader.decodeFromVideoDevice(null, videoElem, (result) => {
        if (result) {
          document.getElementById('barcode-result').value = result.text;
          codeReader.reset();
          videoElem.style.display = 'none';
          const form = document.querySelector("form");
          form.submit();
        }
      });
    } catch (err) {
      console.log(err)
    }
  });
  </script>

  <div>
    <%= form.submit %>
  </div>
  <div>
    <%= link_to "Back to pantry items", pantry_items_path, id: "custom-link" %>

  </div>
<% end %>
