<%= form_with(model: pantry_item) do |form| %>
  <% if pantry_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pantry_item.errors.count, "error") %> prohibited this pantry_item from being saved:</h2>

      <ul>
        <% pantry_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :name %>
  </div>

  <div>
    <%= form.hidden_field :barcode, id: "barcode-result" %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <%= image_tag "camera-icon.svg", alt: "Camera icon", class: "camera-icon"%>
  
  <video id="scanner-video"></video>

  <div>
    <%= form.submit class: "hidden-submit" %>
  </div>
  <div class="floating-left-btn-container">
    <%= link_to pantry_items_path, id: "custom-link", class: "floating-red-button" do %>
        <%= image_tag "arrow-left.svg", alt: "Back to pantry items", class: "floating-button-icon" %>
    <% end %>
  </div>
<% end %>