<div id="<%= dom_id pantry_item %>">
  <p>
    <strong>Name:</strong>
    <%= pantry_item.name %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= pantry_item.barcode %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= pantry_item.quantity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pantry_item.user_id %>
  </p>

</div>
