<div id="<%= dom_id pantry_item %>">
  <p>
    <strong>Name:</strong>
    <%= pantry_item.name %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= pantry_item.barcode %>
  </p>

  <% if pantry_item.img_url.present? %>
  <%= image_tag pantry_item.img_url %>
  <% end %>

  <p>
    <strong>User:</strong>
    <%= pantry_item.user_id %>
  </p>

</div>
