<p style="color: green"><%= notice %></p>

<% content_for :title, "Your Pantry items" %>
<div class="floating-right-btn-container">
  <%= link_to new_pantry_item_path, class: "floating-green-button" do %>
    <%= image_tag "cart-plus.svg", alt: "Add pantry item", class: "floating-button-icon" %>
  <% end %>

</div>
<h1 class="centered-text title-text">Your Pantry</h1>

<div class="header-container">
  <h1 class="padded">You have <%= @total_pantry_items_count %> items in your pantry</h1>
  <%= link_to  "View Inventory", inventory_pantry_items_path, class: "centered-text basic-green-btn"%> 

</div>
<% if @total_pantry_items_count == 0 %>
  <h2 class="centered-big-title padded"> You need to go shopping! </h2>
<%end%>

<div data-controller="infinite-scroll" 
     data-infinite-scroll-url-value="<%= request.path %>" 
     data-infinite-scroll-page-value="<%= params[:page] || 1 %>">
  
  <div id="pantry_items" class="food-display" data-infinite-scroll-target="entries">
    <% @pantry_items.each do |pantry_item| %>
      <%= link_to pantry_item_path(pantry_item), class: "centered-text" do %>
        <%= render partial: "pantry_item", locals: { pantry_item: pantry_item, show_barcode: false } %>
      <% end %>
    <% end %>
    
  </div>
  
  <%= render "shared/pagination_loader", collection: @pantry_items %>
</div>