<p style="color: green"><%= notice %></p>

<% content_for :title, "Your Pantry items" %>

<div class="floating-right-btn-container">
  <%= link_to new_pantry_item_path, class: "floating-green-button" do %>
    <%= image_tag "cart-plus.svg", alt: "Add pantry item", class: "floating-button-icon" %>
  <% end %>

</div>
<h1 class="padded">You have <%= @pantry_items.count %> items in your pantry</h1>

<% if @pantry_items.count == 0 %>
  <h2 class="centered-big-title padded"> You need to go shopping! </h2>
<%end%>
<div id="pantry_items" class="food-display">
  <% @pantry_items.each do |pantry_item| %>
    <%= link_to pantry_item_path(pantry_item), class: "centered-text" do %>
      <%= render partial: "pantry_item", locals: { pantry_item: pantry_item, show_barcode: false } %>
    <% end %>
  <% end %>
</div>