<p style="color: green"><%= notice %></p>

<% content_for :title, "Your Pantry items" %>

<h1>You have <%= @pantry_items.count %> items in your pantry</h1>
<div id="pantry_items" class="food-display">
  <% @pantry_items.each do |pantry_item| %>
    <%= link_to pantry_item_path(pantry_item), class: "food-name" do %>
      <%= render partial: "pantry_item", locals: { pantry_item: pantry_item, show_barcode: false, food_card: true } %>
    <% end %>
  <% end %>
</div>

<%= link_to "New pantry item", new_pantry_item_path %>
