<div class="pantry-inventory">
    <h1 class="centered-text title-text">Pantry Inventory List</h1>

    <h2 class="padded">You have <%= @total_pantry_items_count %> items in your pantry</h2>


    <table>
    <thead>
        <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
       <% @aggregated_pantry_items.keys.sort.each do |ingredient_name| %>
                <tr class="ingredient-item">
                  <td class="ingredient-info">
                    <label for="item-<%= ingredient_name.gsub(/\s+/, '-') %>" class="ingredient-name">
                      <%= ingredient_name.titleize %>
                    </label>
                  </td>
                  <td class="ingredient-amounts">
                    <% @aggregated_pantry_items[ingredient_name].each do |amount| %>
                      <div class="amount"><%= amount %></div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
    </tbody>
    </table>
</div>
<div class="floating-left-btn-container">
    <%= link_to pantry_items_path, id: "custom-link", class: "floating-red-button" do %>
        <%= image_tag "arrow-left.svg", alt: "Back to pantry items", class: "floating-button-icon" %>
    <% end %>
</div>