<%= form_with(model: meal, class: "meal-form", data: { turbo: false }) do |form| %>
  <% if meal.errors.any? %>
    <div class="error-explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>
      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :meal_type %>
    <%= form.select :meal_type, Meal.meal_types.keys.map { |t| [t.humanize, t] } %>
  </div>

  <div class="field">
    <%= form.label :recipe_ids, "Recipes" %>
    <%= form.collection_select :recipe_ids, 
                              current_user.recipes, 
                              :id, 
                              :name, 
                              { selected: meal.persisted? ? meal.recipe_ids : [] }, 
                              { multiple: true, class: "form-control" } %>
  </div>

  <div class="field">
    <%= form.label :sharable %>
    <%= form.check_box :sharable, { checked: true } %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :image %>
    <% if meal.image.attached? %>
      <div>
        <%= image_tag meal.image %>
      </div>
      <div class="file-upload">
        <%= form.label :image, "Replace image", class: "custom-file-upload" %>
        <%= form.file_field :image, accept: 'image/png,image/jpeg,image/jpg', class: "hidden-file-input" %>
      </div>
    <% else %>
      <div class="file-upload">
        <%= form.label :image, "Upload image", class: "custom-file-upload" %>
        <%= form.file_field :image, accept: 'image/png,image/jpeg,image/jpg', class: "hidden-file-input" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>