<div id="<%= dom_id meal %>" class="recipe-container">

  <% if local_assigns[:icon]%>

    <%= image_tag("meals.svg", alt: "Meal icon", class: "media-icon") %>
  <% end %>
  <div class="image-container">
    <% if meal.image.attached? %>
      <%= image_tag meal.image, class: "image-card" %>
    <% else %>
      <strong> No image attached </strong>
    <% end %>

  </div>
  <p class="centered-text">
    <%= meal.name %>
  </p>

  <% if local_assigns[:info]%>
    <p class="centered-text">
      <%= meal.meal_type %>
    </p>
   

    <p class="centered-text">
      <%= meal.description %>
    </p>
  <% end %>
</div>
