<p style="color: green"><%= notice %></p>

<% content_for :title, "Meals" %>

<p> You have <%= @meals.count %> meal(s). </p>

<h1>Meals</h1>

<div class="floating-right-btn-container">
  <%= link_to new_meal_path, class: "floating-green-button" do %>
    <%= image_tag "add_meal.svg", alt: "Add meal", class: "floating-button-icon" %>
  <% end %>

</div>

<div id="meals" class="food-display">
  <% @meals.each do |meal| %>
    <%= link_to meal, class: "centered-text hover-move" do %>
      <%= render meal %>
    <% end %>
  <% end %>
</div>


