<p style="color: green"><%= notice %></p>

<% content_for :title, "Meals" %>

<p> You have <%= @total_meals_count %> meal(s). </p>

<h1 class="centered-text title-text">Meals</h1>

<div class="floating-right-btn-container">
  <%= link_to new_meal_path, class: "floating-green-button" do %>
    <%= image_tag "add_meal.svg", alt: "Add meal", class: "floating-button-icon" %>
  <% end %>

</div>

<div data-controller="infinite-scroll" 
     data-infinite-scroll-url-value="<%= request.path %>" 
     data-infinite-scroll-page-value="<%= params[:page] || 1 %>">
  
  <div id="meals" class="food-display" data-infinite-scroll-target="entries">
    <% @meals.each do |meal| %>
      <%= link_to meal, class: "centered-text hover-move" do %>
        <%= render meal %>
      <% end %>
    <% end %>
    
  </div>
  
  <%= render "shared/pagination_loader", collection: @meals %>
</div>


