<p style="color: green"><%= notice %></p>

<h1> <%= @meal.name %></h1>
<p>
  <%= @meal.meal_type %>
</p>
<p>
  <%= @meal.description %>
</p>
<h3>Recipes in this meal:</h3>
<div class="food-display">
  <% @meal.recipes.each do |recipe| %>
    <%= render recipe, info: true %>
  <% end %>
</div>
<div>
  <%= link_to "Edit this meal", edit_meal_path(@meal) %> |
  <%= link_to "Back to meals", meals_path %>

  <%= button_to "Destroy this meal", @meal, method: :delete %>
</div>
