<p style="color: green"><%= notice %></p>

<h3>Recipes in this meal:</h3>
<div class="food-display">
  <% @meal.recipes.each do |recipe| %>
    <%#= link_to recipe, class: "centered-text" do %>
      <%#= render recipe, info: false %>
    <%# end %>
    <%= render recipe, info: true %>
  <% end %>
</div>
<div>
  <%= link_to "Edit this meal", edit_meal_path(@meal) %> |
  <%= link_to "Back to meals", meals_path %>

  <%= button_to "Destroy this meal", @meal, method: :delete %>
</div>
