<%# app/views/shopping_lists/index.html.erb %>

<div class="shopping-list">
  <h1 class="shopping-list-title">Shopping List</h1>
  
  <div class="shopping-list-date-selector">
    <%= form_with url: shopping_lists_path, method: :get, class: "shopping-list-form" do |f| %>
      <div class="form-field">
        <%= f.date_field :start_date, value: @start_date, class: "form-input" %>
      </div>
      <%= f.submit "Update", class: "form-submit" %>
    <% end %>
  </div>

  <% if @meal_plans.any? %>
    <div class="shopping-list-grid">
      <!-- Meal Plan Summary -->
      <div class="shopping-list-card">
        <h2 class="card-title">Meal Plan Summary</h2>
        <div class="meal-plan-days">
          <% (@start_date..@end_date).each do |date| %>
            <div class="meal-plan-day">
              <h3 class="day-title"><%= date.strftime("%A, %B %d") %></h3>
              <% if @meal_plans_by_date[date].present? %>
                <ul class="meal-list">
                  <% @meal_plans_by_date[date].each do |meal_plan| %>
                    <li class="meal-item">
                      <span class="meal-type"><%= meal_plan.meal.meal_type.titleize %>:</span>
                      <span class="meal-name"><%= meal_plan.meal.name %></span>
                      <% if meal_plan.meal.recipes.any? %>
                        <ul class="recipe-list">
                          <% meal_plan.meal.recipes.each do |recipe| %>
                            <li class="recipe-item"><%= recipe.name %></li>
                          <% end %>
                        </ul>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <p class="no-meals">No meals planned</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Shopping List -->
      <div class="shopping-list-card">
        <h2 class="card-title">Shopping List</h2>
        <% if @aggregated_ingredients.any? %>
          <div class="shopping-list-content">
            <p class="date-range">
              Showing ingredients for all meals from <%= @start_date.strftime("%B %d") %> to <%= @end_date.strftime("%B %d") %>
            </p>
            
            <div class="search-container">
              <input type="text" id="ingredient-search" 
                     class="search-input" 
                     placeholder="Search ingredients...">
            </div>
            
            <ul id="shopping-list" class="ingredient-list">
              <% @aggregated_ingredients.keys.sort.each do |ingredient_name| %>
                <li class="ingredient-item">
                  <div class="ingredient-info">
                    <input type="checkbox" id="item-<%= ingredient_name.gsub(/\s+/, '-') %>" 
                           class="ingredient-checkbox">
                    <label for="item-<%= ingredient_name.gsub(/\s+/, '-') %>" class="ingredient-name">
                      <%= ingredient_name.titleize %>
                    </label>
                  </div>
                  <div class="ingredient-amounts">
                    <% @aggregated_ingredients[ingredient_name].each do |amount| %>
                      <div class="amount"><%= amount %></div>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <p class="no-ingredients">No ingredients found for this time period.</p>
          <p class="no-ingredients-help">Try selecting a different week or adding meals to your meal plan first.</p>
        <% end %>
      </div>
    </div>
    
    <% if @aggregated_ingredients.any? %>
      <div class="action-buttons">
        <button id="print-list" class="action-button print-button">
          Print Shopping List
        </button>
        <button id="clear-checked" class="action-button clear-button">
          Clear Checked Items
        </button>
      </div>
    <% end %>
  <% else %>
    <div class="warning-message">
      <div class="warning-content">
        <div class="warning-icon">
          <svg class="warning-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="warning-text">
          <p>
            No meal plans found for the selected week. 
            <a href="<%= meal_plans_path %>" class="warning-link">
              Create a meal plan first
            </a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>
  @media print {
    body * {
      visibility: hidden;
    }
    #shopping-list, #shopping-list * {
      visibility: visible;
    }
    #shopping-list {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
    .ingredient-checkbox {
      display: none;
    }
  }
</style>