<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Meal Planner App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>

    <%#script src="https://unpkg.com/@zxing/library@latest"></script%>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="sticky-header" data-controller="mobile-menu">
      <div class="header-container">
        <%= link_to "Your Logo", root_path, class: "logo centered-text" %>
        
        <!-- Mobile menu button (hamburger icon) -->
        <button class="mobile-menu-button" 
            data-action="click->mobile-menu#toggle"
            data-mobile-menu-target="button"
            aria-label="Toggle menu">
          <%= image_tag("menu.svg", alt: "Menu", class: "header-button") %>
        </button>
        
        <!-- Desktop navigation (hidden on mobile) -->
        <nav class="desktop-nav">
          <%= link_to root_path, class: "flex-vertical centered-text" do %>
            <%= image_tag("tasty_shares.svg", alt: "Symbol of working together", class: "header-button") %>
            <span>Tasty Shares</span>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to pantry_items_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("pantry.svg", alt: "Pantry", class: "header-button") %>
              <span>Pantry</span>
            <% end %>
            <%= link_to recipes_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("recipes.svg", alt: "Recipes", class: "header-button") %>
              <span>Recipes</span>
            <% end %>
            <%= link_to meals_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("meals.svg", alt: "Meals", class: "header-button") %>
              <span>Meals</span>
            <% end %>
            <%= link_to pantry_items_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("meal_plan.svg", alt: "Meal plan", class: "header-button") %>
              <span>Meal Plan</span>
            <% end %>
            <%= link_to pantry_items_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("shopping_list.svg", alt: "Shopping list", class: "header-button") %>
              <span>Shopping List</span>
            <% end %>
        
            <div class="search-container">
              <button class="header-button">
                <%= image_tag "magnify.svg", alt: "Search" %>
              </button>
              <input type="text" class="search-bar" placeholder="Search...">
            </div>
            <%= link_to edit_user_registration_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("account-edit.svg", alt: "Account", class: "header-button") %>
              <span><%= current_user.name %></span>
            <% end %>
            <%= button_to destroy_user_session_path, method: :delete, class: "flex-vertical centered-text no-background" do %>
              <%= image_tag("logout.svg", alt: "Log out", class: "header-button") %>
              <span class="clickable">Log Out</span>
            <% end %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> |
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </nav>
        
        <!-- Mobile dropdown menu (hidden by default) -->
        <nav class="mobile-nav" data-mobile-menu-target="menu" data-action="click@window->mobile-menu#hide">
          <%= link_to root_path, class: "flex-vertical centered-text" do %>
            <%= image_tag("tasty_shares.svg", alt: "Symbol of working together", class: "header-button") %>
            <span>Tasty Shares</span>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to pantry_items_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("pantry.svg", alt: "Pantry", class: "header-button") %>
              <span>Pantry</span>
            <% end %>
            <%= link_to recipes_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("recipes.svg", alt: "Recipes", class: "header-button") %>
              <span>Recipes</span>
            <% end %>
            <%= link_to meals_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("meals.svg", alt: "Meals", class: "header-button") %>
              <span>Meals</span>
            <% end %>
            <%= link_to pantry_items_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("meal_plan.svg", alt: "Meal plan", class: "header-button") %>
              <span>Meal Plan</span>
            <% end %>
            <%= link_to pantry_items_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("shopping_list.svg", alt: "Shopping list", class: "header-button") %>
              <span>Shopping List</span>
            <% end %>
            
            <div class="search-container mobile-search">
              <button class="header-button">
                <%= image_tag "magnify.svg", alt: "Search" %>
              </button>
              <input type="text" class="search-bar" placeholder="Search...">
            </div>
            
            <%= link_to edit_user_registration_path, class: "flex-vertical centered-text" do %>
              <%= image_tag("account-edit.svg", alt: "Account", class: "header-button") %>
              <span><%= current_user.name %></span>
            <% end %>
            <%= button_to destroy_user_session_path, method: :delete, class: "flex-vertical centered-text no-background" do %>
              <%= image_tag("logout.svg", alt: "Log out", class: "header-button") %>
              <span class="clickable">Log Out</span>
            <% end %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "mobile-nav-link" %>
            <%= link_to "Login", new_user_session_path, class: "mobile-nav-link" %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="mobile-margin">
      <%= yield %>
    </div>
  </body>

  
</html>
