<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Meal Planner App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload"%>

    <script src="https://unpkg.com/@zxing/library@latest"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="sticky-header">
    <div class="header-container">
      <%= link_to "Your Logo", root_path, class: "logo" %>

      <% if user_signed_in? %>
        <%= link_to "Pantry", pantry_items_path %>
        <%= link_to "Recipes", pantry_items_path %>
        <%= link_to "Meals", pantry_items_path %>
        <%= link_to "Meal Plan", pantry_items_path %>
        <div class="search-container">
          <button class="search-button">
             <%= image_tag "magnify.svg", alt: "Search" %>
          </button>
          <input type="text" class="search-bar" placeholder="Search...">

        </div>
        <%= link_to current_user.name || current_user.email, edit_user_registration_path %>
        <%= button_to "Log Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>

    </div>
  </header>
    <div class="mobile-margin">
      <%= yield %>
    </div>
  </body>
</html>
